@model MiniFrota.Models.Motorista
@{
    ViewData["Title"] = "Motorista";
}

<div class="container-fluid">
    <div class="row">
        <!-- Menu Lateral -->
        <div class="col-md-2 bg-dark text-white" style="border-radius: 5px;">
            <h3 class="text-center mt-3">Menu</h3>
            <ul class="nav flex-column mt-4">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Veiculo" asp-action="Index">Veículo</a>
                </li>
                   <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Multa" asp-action="Index">Multa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Motorista" asp-action="Index">Motorista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Administrador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Abastecer" asp-action="Index">Abastecer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Emplacamento" asp-action="Index">Emplacamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Seguro" asp-action="Index">Seguro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Sinistro" asp-action="Index">Sinistro</a>
                    </li>
            </ul>
        </div>
       
        <!-- Conteúdo Principal -->
        <div class="col-md-9">
            <h1>Motorista</h1>
             <form>
                <div class="mb-3 col-9">
                    <label asp-for="Nome" class="form-label">Nome do Motorista</label>
                    <input asp-for="Nome" type="text" class="form-control" id="Nome" aria-describedby="textHelp">
                </div>
                <div class="mb-3 col-9">
                    <label asp-for="NumeroCnh" class="form-label">Nº CNH</label>
                    <input asp-for="NumeroCnh" type="number" class="form-control" id="NumeroCnh" aria-describedby="textHelp">
                </div>
                @* <div class="mb-3 col-9">
                    <label asp-for="Placa" class="form-label">Placa do veiculo</label>
                    <input asp-for="Placa" type="text" class="form-control" id="Placa" aria-describedby="textHelp">
                </div> *@

                <button type="submit" class="btn btn-success" style="margin-right: 2.8rem;">Cadastrar</button>
                <button type="submit" class="btn btn-info" style="margin: 2.8rem;">Listar</button>
                <button type="submit" class="btn btn-warning" style="margin: 2.8rem;">Alterar</button>
                <button type="submit" class="btn btn-danger" style="margin: 2.8rem;">Deletar</button>
            </form>
        </div>
    </div>
</div>