@model MiniFrota.Models.Veiculo;
@{
    ViewData["Title"] = "Veículo";
}

    <div class="container-fluid">
        <div class="row">
            <!-- Menu Lateral -->
            <div class="col-md-2 bg-dark text-white" style="border-radius: 5px;">
                <h3 class="text-center mt-3" >Menu </h3>
                <ul class="nav flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Veiculo" asp-action="Index">Veículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Multa" asp-action="Index">Multa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"  asp-controller="Motorista" asp-action="Index">Motorista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"  href="#">Administrador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"  asp-controller="Abastecer" asp-action="Index">Abastecer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"  asp-controller="Emplacamento" asp-action="Index">Emplacamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"  asp-controller="Seguro" asp-action="Index">Seguro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"  asp-controller="Sinistro" asp-action="Index">Sinistro</a>
                    </li>
                </ul>
        </div>
            
            <!-- Conteúdo Principal -->
            <div class="col-md-9">
                <h1>Veículo</h1>
<form method="post">
  <div class="mb-3 col-9">
    <label asp-for="Placa" class="form-label">Placa</label>
    <input asp-for="Placa" type="text" class="form-control" id="Placa" aria-describedby="textHelp">
  </div>
   <div class="mb-3 col-9">
    <label asp-for="Cor" class="form-label">Cor</label>
    <input asp-for="Cor" type="text" class="form-control" id="Cor" aria-describedby="textHelp">
  </div>
  <div class="mb-3 col-9">
    <label asp-for="Marca" class="form-label">Marca</label>
    <input asp-for="Marca" type="text" class="form-control" id="Marca" aria-describedby="textHelp">
  </div>
  <div class="mb-3 col-9">
    <label asp-for="Modelo"class="form-label">Modelo</label>
    <input asp-for="Modelo" type="text" class="form-control" id="Modelo" aria-describedby="textHelp">
  </div>
  
  
    
 
  <button type="submit" class="btn btn-success" style="margin-right: 2.8rem;" asp-action="Index" value="Index" asp-controller="veiculo" >Cadastrar</button> 
  <button type="submit" class="btn btn-info" style="margin: 2.8rem;" asp-action="Listar" value="Listar" >Listar</button>
  <button type="submit" class="btn btn-warning" style="margin: 2.8rem;" asp-action="Editar" asp-route-id="veiculo.placa" >Alterar</button>
  <button type="submit" class="btn btn-danger" style="margin: 2.8rem;" asp-action="Excluir" asp-route-id="veiculo.placa" >Deletar</button>

  
</form>
                <!-- Aqui você pode adicionar o conteúdo específico de cada item do menu -->
            </div>
        </div>
    </div>
    
