@model MiniFrota.Models.Veiculo;
@{
    ViewData["Title"] = "Veículo";
}

<table class="table table-success table-hover">
  <thead>
    <tr>
      <th scope="col">Moldelo</th>
      <th scope="col">Marca</th>
      <th scope="col">Placa</th>
      <th scope="col">Motorista</th>
    </tr>
  </thead>
  <tbody class="table table-success table-hover">
     <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      @* <td>@mdo</td> *@
     </tr>
     <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      @* <td>@mdo</td> *@
     </tr>
     <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      @* <td>@mdo</td> *@
    </tr>
    </tbody>
</table>