

@{
    ViewData["Title"] = "Cadastrar";
}
<h1>@ViewData["Title"]</h1>


<form class="form">
    <span class="input-span">
        <label for="Nome" class="label">Nome</label>
        <input type="email" name="email" id="email">
    </span>
    <span class="input-span">
        <label for="Email" class="label">Email</label>
        <input type="email" name="email" id="email">
    </span>
    <span class="input-span">
        <label for="Senha" class="label">Senha</label>
        <input type="password" name="password" id="password">
    </span>
    <span class="span"><a href="#">Esqueceu a Senha?</a></span>
    <input class="submit" type="submit" value="Entrar">
    <span class="span">Não tem uma conta? <a href="#">Resgistre-se</a></span>
</form>