@model MiniFrota.Models.Sinistro;
@{
    ViewData["Title"] = "Sinistro";
}

    <div class="container-fluid">
        <div class="row">
            <!-- Menu Lateral -->
            <div class="col-md-2 bg-dark text-white" style="border-radius: 5px;">
                <h3 class="text-center mt-3" >Menu </h3>
                <ul class="nav flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Veiculo" asp-action="Index">Veículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"asp-controller="Multa" asp-action="Index">Multa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"asp-controller="Motorista" asp-action="Index">Motorista</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-white"asp-controller="Manutencao" asp-action="Index">Manutenção</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Administrador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Abastecer" asp-action="Index">Abastecer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"asp-controller="Emplacamento" asp-action="Index">Emplacamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Seguro" asp-action="Index">Seguro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Sinistro" asp-action="Index">Sinistro</a>
                    </li>
                </ul>
        </div>
            
            <!-- Conteúdo Principal -->
            <div class="col-md-9">
                <h1>Sinistro</h1>
<form method="post">
  <div class="mb-3 col-9">
    <label asp-for="DataHora" class="form-label">Data do sinistro</label>
    <input asp-for="DataHora" type="date" class="form-control" id="DataHora" aria-describedby="textHelp">
  </div>
  <div class="mb-3 col-9">
    <label asp-for="Descricao" class="form-label">Descricao</label>
    <input asp-for="Descricao" type="text" class="form-control" id="Descricao" aria-describedby="textHelp">
  </div>
   <div class="mb-3 col-9">
    <label asp-for="Seguro" class="form-label">Apolice do seguro</label>
    <input asp-for="Seguro" type="text" class="form-control" id="Seguro" aria-describedby="textHelp">
  </div>
  

  <button type="submit" class="btn btn-success" style="margin-right: 2.8rem;" asp-action="Index" value="Index" asp-controller="Sinistro">Cadastrar</button>
  <button type="submit" class="btn btn-warning" style="margin: 2.8rem;">Alterar</button>
  <button type="submit" class="btn btn-danger" style="margin: 2.8rem;">Deletar</button>

  
</form>
                <!-- Aqui você pode adicionar o conteúdo específico de cada item do menu -->
            </div>
        </div>
    </div>
    
