@model MiniFrota.Models.Emplacamento;
@{
    ViewData["Title"] = "Emplacamento";
}

    <div class="container-fluid">
        <div class="row">
            <!-- Menu Lateral -->
            <div class="col-md-2 bg-dark text-white" style="border-radius: 5px;">
                <h3 class="text-center mt-3" >Menu </h3>
                <ul class="nav flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link text-white"asp-controller="Veiculo" asp-action="Index">Veículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"asp-controller="Multa" asp-action="Index">Multa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"asp-controller="Motorista" asp-action="Index">Motorista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Administrador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Abastecer" asp-action="Index">Abastecer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Emplacamento" asp-action="Index">Emplacamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Seguro" asp-action="Index">Seguro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Sinistro</a>
                    </li>
                </ul>
        </div>
            
            <!-- Conteúdo Principal -->
            <div class="col-md-9">
                <h1>Emplacamento</h1>
<form method="post">
  <div class="mb-3 col-9">
    <label asp-for="Placas" class="form-label">Placa do Veículo</label>
    <input asp-for="Placas" type="Text" class="form-control" id="Placas" aria-describedby="textHelp">
  </div>
  <div class="mb-3 col-9">
    <label asp-for="DataVencimento" class="form-label">Data do vencimento</label>
    <input asp-for="DataVencimento" type="Date" class="form-control" id="DataVencimento" aria-describedby="textHelp">
  </div>
  <div class="mb-3 col-9">
    <label asp-for="ValorEmplacamento" class="form-label">Valor do emplacamento</label>
    <input asp-for="ValorEmplacamento" type="number" class="form-control" id="ValorEmplacamento" aria-describedby="textHelp">
  </div>
  <button type="submit" class="btn btn-success" style="margin-right: 2.8rem;" asp-action="Index" value="Index" asp-controller="Emplacamento">Cadastrar</button>
  <button type="submit" class="btn btn-info" style="margin: 2.8rem;" asp-action="Listar" value="Listar" asp-controller="Emplacamento">Listar</button>
  <button type="submit" class="btn btn-warning" style="margin: 2.8rem;">Alterar</button>
  <button type="submit" class="btn btn-danger" style="margin: 2.8rem;">Deletar</button>

  
</form>
                <!-- Aqui você pode adicionar o conteúdo específico de cada item do menu -->
            </div>
        </div>
    </div>
    
